# Import librs

In [123]:
import numpy as np 
import pandas as pd 
# !pip install scikit-learn
from sklearn.preprocessing import LabelEncoder
# !pip install word2number
from word2number import w2n

# Load dataset

In [2]:
df = pd.read_csv("CarPrice_Assignment.csv")

# EDA

In [3]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,highwaympg.1
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,27
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,27
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,26
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,30
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,22

In [4]:
df.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,highwaympg.1
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,28
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,25
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,23
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,27
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,25

In [6]:
df.shape

(205, 27)

In [5]:
df.count()

car_ID              205
symboling           205
CarName             205
fueltype            205
aspiration          205
doornumber          205
carbody             205
drivewheel          205
enginelocation      205
wheelbase           205
carlength           205
carwidth            205
carheight           205
curbweight          205
enginetype          205
cylindernumber      205
enginesize          205
fuelsystem          205
boreratio           205
stroke              205
compressionratio    205
horsepower          205
peakrpm             205
citympg             205
highwaympg          205
price               205
highwaympg.1        205
dtype: int64

In [7]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
highwaympg.1          int64
dtype: object

In [8]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
highwaympg.1        0
dtype: int64

In [9]:
df.nunique()

car_ID              205
symboling             6
CarName             147
fueltype              2
aspiration            2
doornumber            2
carbody               5
drivewheel            3
enginelocation        2
wheelbase            53
carlength            75
carwidth             44
carheight            49
curbweight          171
enginetype            7
cylindernumber        7
enginesize           44
fuelsystem            8
boreratio            38
stroke               37
compressionratio     32
horsepower           59
peakrpm              23
citympg              29
highwaympg           30
price               189
highwaympg.1         30
dtype: int64

In [11]:
data_info = pd.DataFrame(df.count())

In [12]:
data_info["Missing"]  = df.isna().sum()

In [14]:
data_info["N_unique"] = df.nunique()

In [15]:
data_info["Dtypes"]   = df.dtypes

In [16]:
data_info.head()

              0  Missing  N_unique  Dtypes
car_ID      205        0       205   int64
symboling   205        0         6   int64
CarName     205        0       147  object
fueltype    205        0         2  object
aspiration  205        0         2  object

In [21]:
# data_info.rename(columns={0 : "Count"} , index={"CarName" : "carname"})
# data_info = data_info.rename(columns={0 : "Count"})
data_info.rename(columns={0 : "Count"} , inplace=True)

In [22]:
data_info

                  Count  Missing  N_unique   Dtypes
car_ID              205        0       205    int64
symboling           205        0         6    int64
CarName             205        0       147   object
fueltype            205        0         2   object
aspiration          205        0         2   object
doornumber          205        0         2   object
carbody             205        0         5   object
drivewheel          205        0         3   object
enginelocation      205        0         2   object
wheelbase           205        0        53  float64
carlength           205        0        75  float64
carwidth            205        0        44  float64
carheight           205        0        49  float64
curbweight          205        0       171    int64
enginetype          205        0         7   object
cylindernumber      205        0         7   object
enginesize          205        0        44    int64
fuelsystem          205        0         8   object
boreratio           205        0        38  float64
stroke              205        0        37  float64
compressionratio    205        0        32  float64
horsepower          205        0        59    int64
peakrpm             205        0        23    int64
citympg             205        0        29    int64
highwaympg          205        0        30    int64
price               205        0       189  float64
highwaympg.1        205        0        30    int64

In [23]:
data_info.to_csv("data_inf.csv")

In [24]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,highwaympg.1
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,27
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,27
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,26
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,30
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,22

In [25]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'highwaympg.1'],
      dtype='object')

In [26]:
df.duplicated().sum()

0

In [27]:
# EDA
# head()
# describe()
# info()
# isna().sum()
# duplicated().sum()
# groupby
# visualization

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
 26  highwaympg.1      205 non-null    int64
dtypes: float64(8), int64(9), object(10)
memory usage: 43.4+ KB

In [29]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,highwaympg.1
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571,30.751220
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332,6.886443
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,16.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000,25.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000,30.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000,34.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000,54.000000

In [31]:
q1 = df["price"].quantile(.25)
q1

7788.0

In [32]:
q2 = df["price"].quantile(.50)
q2

10295.0

In [33]:
q3 = df["price"].quantile(.75)
q3

16503.0

In [38]:
# df["price"].describe()["75%"]

In [39]:
IQR = q3 - q1 
IQR

8715.0

In [40]:
lower = q1 - (1.5 * IQR)
lower

-5284.5

In [41]:
upper = q3 + (1.5 * IQR)
upper

29575.5

In [42]:
df["price"].min()

5118.0

In [43]:
df["price"].max()

45400.0

In [47]:
df[df["price"] >= upper]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,highwaympg.1
15,16,0,bmw x4,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.62,3.39,8.0,182,5400,16,22,30760.0,22
16,17,0,bmw x5,gas,std,two,sedan,rwd,front,103.5,...,mpfi,3.62,3.39,8.0,182,5400,16,22,41315.0,22
17,18,0,bmw x3,gas,std,four,sedan,rwd,front,110.0,...,mpfi,3.62,3.39,8.0,182,5400,15,20,36880.0,20
47,48,0,jaguar xj,gas,std,four,sedan,rwd,front,113.0,...,mpfi,3.63,4.17,8.1,176,4750,15,19,32250.0,19
48,49,0,jaguar xf,gas,std,four,sedan,rwd,front,113.0,...,mpfi,3.63,4.17,8.1,176,4750,15,19,35550.0,19
49,50,0,jaguar xk,gas,std,two,sedan,rwd,front,102.0,...,mpfi,3.54,2.76,11.5,262,5000,13,17,36000.0,17
70,71,-1,buick skyhawk,diesel,turbo,four,sedan,rwd,front,115.6,...,idi,3.58,3.64,21.5,123,4350,22,25,31600.0,25
71,72,-1,buick opel isuzu deluxe,gas,std,four,sedan,rwd,front,115.6,...,mpfi,3.46,3.10,8.3,155,4750,16,18,34184.0,18
72,73,3,buick skylark,gas,std,two,convertible,rwd,front,96.6,...,mpfi,3.46,3.10,8.3,155,4750,16,18,35056.0,18
73,74,0,buick century special,gas,std,four,sedan,rwd,front,120.9,...,mpfi,3.80,3.35,8.0,184,4500,14,16,40960.0,16
74,75,1,buick regal sport coupe (turbo),gas,std,two,hardtop,rwd,front,112.0,...,mpfi,3.80,3.35,8.0,184,4500,14,16,45400.0,16
126,127,3,porcshce panamera,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.90,9.5,207,5900,17,25,32528.0,25
127,128,3,porsche cayenne,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.90,9.5,207,5900,17,25,34028.0,25
128,129,3,porsche boxter,gas,std,two,convertible,rwd,rear,89.5,...,mpfi,3.74,2.90,9.5,207,5900,17,25,37028.0,25
129,130,1,porsche cayenne,gas,std,two,hatchback,rwd,front,98.4,...,mpfi,3.94,3.11,10.0,288,5750,17,28,31400.5,28

# Data preprocessing

In [52]:
try:
    df.set_index("car_ID" , inplace=True)
    print("Done")
except Exception as e :
    print("Error:", e)

Error: "None of ['car_ID'] are in the columns"

In [55]:
df["CarName"]

car_ID
1            alfa-romero giulia
2           alfa-romero stelvio
3      alfa-romero Quadrifoglio
4                   audi 100 ls
5                    audi 100ls
                 ...
201             volvo 145e (sw)
202                 volvo 144ea
203                 volvo 244dl
204                   volvo 246
205                 volvo 264gl
Name: CarName, Length: 205, dtype: object

In [58]:
"my name is amit".split()[0]

'my'

In [59]:
df["CarName"].nunique()

147

In [76]:
# df["CarName"].str.split(expand = True )[0]

In [77]:
# df["CarName"].str.split().apply(lambda x : x[0])

In [78]:
df["CarName"] = df["CarName"].str.split(expand = True )[0]

In [85]:
df["CarName"].nunique()

28

In [86]:
df["CarName"].value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
chevrolet       3
jaguar          3
vw              2
maxda           2
renault         2
toyouta         1
vokswagen       1
Nissan          1
mercury         1
porcshce        1
Name: CarName, dtype: int64

In [90]:
# df["CarName"].apply(str.title)
df["CarName"] =  df["CarName"].str.title()

In [91]:
df["CarName"].value_counts()

Toyota         31
Nissan         18
Mazda          15
Honda          13
Mitsubishi     13
Subaru         12
Peugeot        11
Volvo          11
Dodge           9
Volkswagen      9
Bmw             8
Buick           8
Audi            7
Plymouth        7
Saab            6
Isuzu           4
Porsche         4
Alfa-Romero     3
Jaguar          3
Chevrolet       3
Vw              2
Maxda           2
Renault         2
Toyouta         1
Vokswagen       1
Mercury         1
Porcshce        1
Name: CarName, dtype: int64

In [92]:
df["CarName"].unique()

array(['Alfa-Romero', 'Audi', 'Bmw', 'Chevrolet', 'Dodge', 'Honda',
       'Isuzu', 'Jaguar', 'Maxda', 'Mazda', 'Buick', 'Mercury',
       'Mitsubishi', 'Nissan', 'Peugeot', 'Plymouth', 'Porsche',
       'Porcshce', 'Renault', 'Saab', 'Subaru', 'Toyota', 'Toyouta',
       'Vokswagen', 'Volkswagen', 'Vw', 'Volvo'], dtype=object)

In [93]:
df["CarName"].replace({"Toyouta" : "Toyota" , 
                       "Maxda": "Mazda" , 
                       "Porcshce" : "Porsche" , 
                       "Vokswagen":"Volkswagen" ,
                       "Vw":"Volkswagen"} , inplace=True)

In [94]:
df["CarName"].nunique()

22

In [95]:
df["CarName"].value_counts()

Toyota         32
Nissan         18
Mazda          17
Mitsubishi     13
Honda          13
Volkswagen     12
Subaru         12
Peugeot        11
Volvo          11
Dodge           9
Buick           8
Bmw             8
Audi            7
Plymouth        7
Saab            6
Porsche         5
Isuzu           4
Jaguar          3
Chevrolet       3
Alfa-Romero     3
Renault         2
Mercury         1
Name: CarName, dtype: int64

In [98]:
df.groupby("CarName")["price"].agg(["min" , "max" , 
                                    "mean" , "sum" , 
                                    "count"]).sort_values("count" , ascending=False)

                 min      max          mean         sum  count
CarName
Toyota        5348.0  17669.0   9885.812500  316346.000     32
Nissan        5499.0  19699.0  10415.666667  187482.000     18
Mazda         5195.0  18344.0  10652.882353  181099.000     17
Mitsubishi    5389.0  14869.0   9239.769231  120117.000     13
Honda         5399.0  12945.0   8184.692308  106401.000     13
Volkswagen    7775.0  13845.0  10077.500000  120930.000     12
Subaru        5118.0  11694.0   8541.250000  102495.000     12
Peugeot      11900.0  18150.0  15489.090909  170380.000     11
Volvo        12940.0  22625.0  18063.181818  198695.000     11
Dodge         5572.0  12964.0   7875.444444   70879.000      9
Buick        25552.0  45400.0  33647.000000  269176.000      8
Bmw          16430.0  41315.0  26118.750000  208950.000      8
Audi         13950.0  23875.0  17859.166714  125014.167      7
Plymouth      5572.0  12764.0   7963.428571   55744.000      7
Saab         11850.0  18620.0  15223.333333   91340.000      6
Porsche      22018.0  37028.0  31400.500000  157002.500      5
Isuzu         6785.0  11048.0   8916.500000   35666.000      4
Jaguar       32250.0  36000.0  34600.000000  103800.000      3
Chevrolet     5151.0   6575.0   6007.000000   18021.000      3
Alfa-Romero  13495.0  16500.0  15498.333333   46495.000      3
Renault       9295.0   9895.0   9595.000000   19190.000      2
Mercury      16503.0  16503.0  16503.000000   16503.000      1

In [99]:
df.columns

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price',
       'highwaympg.1'],
      dtype='object')

## Encoding

### doornumber

In [100]:
df["doornumber"].value_counts()

four    115
two      90
Name: doornumber, dtype: int64

In [103]:
# pd.get_dummies(df["doornumber"])

In [102]:
df["doornumber"]

car_ID
1       two
2       two
3       two
4      four
5      four
       ...
201    four
202    four
203    four
204    four
205    four
Name: doornumber, Length: 205, dtype: object

In [108]:
le = LabelEncoder()

In [109]:
le.fit(df["doornumber"])

LabelEncoder()

In [146]:
# le.transform(df["doornumber"])

In [114]:
# le.transform(["three"])   Error

In [116]:
# le.fit_transform(df["doornumber"])

In [119]:
# df["doornumber"] = df["doornumber"].replace({"four" : 4 , "two" : 2} )
# or
df["doornumber"].replace({"four" : 4 , "two" : 2} , inplace=True)

In [120]:
df["doornumber"].value_counts()

4    115
2     90
Name: doornumber, dtype: int64

### cylindernumber

In [121]:
df["cylindernumber"].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64

In [127]:
w2n.word_to_num('two million twenty three thousand and forty nine')

2023049

In [131]:
try:
    df["cylindernumber"] = df["cylindernumber"].apply(w2n.word_to_num)
except Exception as e :
    print("Error:" , e)

Error: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')

### fueltype

In [132]:
df['fueltype'].value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [139]:
df['fueltype'] = le.fit_transform(df['fueltype'])

In [140]:
le.classes_

array(['diesel', 'gas'], dtype=object)

In [141]:
le.inverse_transform([1])

array(['gas'], dtype=object)

In [142]:
df['fueltype'].value_counts()

1    185
0     20
Name: fueltype, dtype: int64

### enginelocation

In [ ]:
le2 = LabelEncoder()

In [143]:
df["enginelocation"].value_counts()

front    202
rear       3
Name: enginelocation, dtype: int64

In [144]:
df["enginelocation"] = le.fit_transform(df["enginelocation"])

In [145]:
le.classes_

array(['front', 'rear'], dtype=object)

## Drop cols

In [148]:
try:
    df.drop(columns=['highwaympg.1' , "symboling"] , inplace=True)
    print("Done")
except Exception as e :
    print("Error:" , e)

Done