In [2]:
# scopes
# file handling txt
# module 
# oop

In [16]:
def add(n1 , n2 ):
    s = n1 + n2 
    return s

In [17]:
add(10 , 30 )

40

In [18]:
add(10, 10 )

20

In [19]:
# print(s)   # NameError: name 's' is not defined

In [20]:
x = "global"
def outer():
    x = "local"
    print(x)
outer() # local
print(x) # global

local
global

In [29]:
x = "global"
def outer():
    global x 
    x = "local"
    print(x) 
outer() # local
print(x) # local

local
local

In [30]:
x = "global"
def outer():
    x = "local"
    ###############
    def inner():
        x = "inner"
        print(x)
     ##############   
    inner() # inner
    print(x) # local
outer() 
print(x) #global

inner
local
global

In [31]:
x = "global"
def outer():
    x = "local"
    ###############
    def inner():
        nonlocal x
        x = "inner"
        print(x)
     ##############   
    inner() # inner
    print(x) # inner
outer() 
print(x) #global

inner
inner
global

In [33]:
x = "global"
def outer():
    x = "local"
    ###############
    def inner():
        global x
        x = "inner"
        print(x)
     ##############   
    inner() # inner
    print(x) # local
outer() 
print(x) #inner

inner
local
inner

In [ ]:
!5 = 4 * 3 * 2 * 1

In [36]:
5 * 4 * 3 * 2 * 1

120

In [37]:
def f(num):
    if num == 1 :
        return 1 
    else :
         return num * f(num -1)   #4 * f(3)
#                                  4 * (3  * f(2))
#                                  4 * (3 *  2* (f(1)))
#                                  4 * (3 * (2 * (1)))

In [40]:
f(4)

24

In [49]:
def f(n):
    if n == 1 :
        return  1 
    else:
        return n * f(n-1)

In [50]:
f(5)

120

In [51]:
# file handling

In [52]:
# open("path.txt" ,mode  )  = "r" read , "w" creat and  write , 'x' = create or error , 'a' append or create

In [55]:
f = open("test.txt" , 'w')

In [56]:
f.close()

In [57]:
f = open("test.txt" , 'w')

In [58]:
f.write("my age is 15")

12

In [59]:
f.close()

In [69]:
f = open("test2.txt" , 'w') #create and write()

In [70]:
f.write("my name is amit")

15

In [71]:
f.close()

In [66]:
f = open("test2.txt" , 'r')

In [68]:
f.read()

'my age is 30 my name is amit'

In [76]:
f = open("task.txt" , 'x')

In [77]:
f = open("task.txt" , 'a')

In [78]:
f.write(" my age is 15 ")

14

In [79]:
f.close()

In [80]:
f = open("task.txt" , 'r+') # r+ read , write

In [81]:
f.read()

'my name is amit  my age is 15 '

In [82]:
f.write(" number of students is 1000")

27

In [83]:
f.close()

In [84]:
f = open("task2.txt" , 'a')

In [89]:
txt = open("task.txt" , 'w')

In [90]:
txt.write("my name is hamadaaaa")

20

In [91]:
txt.close()

In [92]:
# name =  
# age = 
# write >> my name is name and my age is age
# student_info

In [93]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
f = open("student_info.txt" , 'w')
f.write(f"student name is {name}\nstudent age is {age} ")
f.close()

Enter your name: Ahmed
Enter your age: 30

In [101]:
with open("student_info.txt" , encoding = 'utf-8') as f :
    print(f.readlines())

['student name is احمد \n', 'student age is 30 \n']

In [97]:
f = open("student_info.txt" , encoding = 'utf-8')

In [98]:
f.read()

'student name is احمد \nstudent age is 30 \n'

In [1]:
# restart your kernel

In [ ]:
# import modulename
# import modulename as md 
# from modulename import method1 , method2....
# from modulename import *

In [1]:
import module

In [2]:
# dir(module)

In [3]:
module.add()

0

In [4]:
module.add(12 ,12)

24

In [5]:
module.check(12)

'Even'

In [6]:
lst = [1,1,1,2,3,4,5,4]
list(map( module.check ,  lst))

['Odd', 'Odd', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [7]:
module.even(10)

True

In [8]:
module.even(11)

False

In [9]:
module.even(11)

False

In [10]:
lst = [1,1,1,2,3,4,5,4]
list(filter(module.even , lst))

[2, 4, 4]

In [11]:
lst = [1,1,1,2,3,4,5,4]
list(filter(module.odd , lst))

[1, 1, 1, 3, 5]

In [12]:
import module as md

In [14]:
# dir(md)

In [15]:
md.add(12,12,12,12,12,2,4)

66

In [19]:
from module import add , check

In [20]:
add(12,12,12,12)

48

In [21]:
check(12)

'Even'

In [22]:
from module import *

In [23]:
odd(13)

True

In [ ]:
import random as rn

In [26]:
# dir(rn)

In [32]:
rn.random()

0.6471554265947721

In [39]:
for i in range(10):
    print(rn.randint(0 , 10 ))

5
7
7
5
10
8
2
9
7
8

In [48]:
print(rn.randrange(0 , 10 ))   #start included  , end not included
print(rn.randint(0 , 10 ))     #start included  , end     included

5
3

In [ ]:
print("a")