In [ ]:
# immutable >> float , int , bool , str , tuple 
# mutable   >> list , dict , set

In [1]:
# dict 
# for loop , while loop 
# functions 
# scope 
# module 
# file handling .txt

In [5]:
# x = 10 
# x <<= 3

In [22]:
# dict
# d = {"key" : value  , "k2": value} or d = dict([( , ) , ( , ) , ( , )]) 
d = {"name": "amit" , "age": 15  , "name" : "Amit"}

In [23]:
type(d)

dict

In [24]:
len(d)

2

In [25]:
lst = [2,3,4,5,6]
lst[0]

2

In [26]:
d["name"]

'Amit'

In [27]:
d["age"]

15

In [28]:
d["address"] = 123

In [29]:
d

{'name': 'Amit', 'age': 15, 'address': 123}

In [30]:
d["age"] = 20

In [31]:
d

{'name': 'Amit', 'age': 20, 'address': 123}

In [32]:
d.get("name")

'Amit'

In [33]:
d1 = {"n_students" : 1000}

In [34]:
d.update(d1)   # lst.extend(seq)

In [35]:
d

{'name': 'Amit', 'age': 20, 'address': 123, 'n_students': 1000}

In [36]:
d.keys()

dict_keys(['name', 'age', 'address', 'n_students'])

In [37]:
d.values()

dict_values(['Amit', 20, 123, 1000])

In [38]:
d.items()

dict_items([('name', 'Amit'), ('age', 20), ('address', 123), ('n_students', 1000)])

In [74]:
data = {"k1":{"k2":[1,2,3,4] , "k3":[3,4,5,6,{"k4":["amit" , "learning" , "machine learning","deep learning  "]}]}}

In [75]:
data

{'k1': {'k2': [1, 2, 3, 4],
  'k3': [3,
   4,
   5,
   6,
   {'k4': ['amit', 'learning', 'machine learning', 'deep learning  ']}]}}

In [76]:
data["k1"]["k3"][4]["k4"][2].upper()

'MACHINE LEARNING'

In [77]:
data["k1"]["k3"][4]["k4"][2]   = data["k1"]["k3"][4]["k4"][2].upper()

In [78]:
data

{'k1': {'k2': [1, 2, 3, 4],
  'k3': [3,
   4,
   5,
   6,
   {'k4': ['amit', 'learning', 'MACHINE LEARNING', 'deep learning  ']}]}}

In [69]:
lst

[2, 3, 4, 5, 6]

In [70]:
lst[0] = 10

In [71]:
lst

[10, 3, 4, 5, 6]

In [84]:
x = " amit  \t \n     "
x

' amit  \t \n     '

In [85]:
x = x.strip()

In [86]:
x

'amit'

In [104]:
# def DecimalToBinary(num):
     
#     if num >= 1:
#         DecimalToBinary(num // 2)
#     print(num % 2, end = '')

     
# # decimal value
# dec_val = 16

# # Calling function
# DecimalToBinary(dec_val)

In [105]:
# x = 1 
# x <<= 4

In [108]:
data

{'k1': {'k2': [1, 2, 3, 4],
  'k3': [3,
   4,
   5,
   6,
   {'k4': ['amit', 'learning', 'MACHINE LEARNING', 'deep learning  ']}]}}

In [116]:
deep = data["k1"]["k3"][-1]["k4"][-1].strip()

In [117]:
data["k1"]["k3"][-1]["k4"][-1] = deep

In [118]:
data

{'k1': {'k2': [1, 2, 3, 4],
  'k3': [3,
   4,
   5,
   6,
   {'k4': ['amit', 'learning', 'MACHINE LEARNING', 'deep learning']}]}}

In [119]:
deep

'deep learning'

In [120]:
lst[-1] = deep

In [121]:
lst

[10, 3, 4, 5, 'deep learning']

In [122]:
# dict
# d = {"k" : value} or dict([(,) , (,)])
# type(d)
# len(d)
# d["key"] >> value 
# d["key"] = new_value
# d["new_key"] = new_value
# d.get("key") >> value
# d.update(d2)
# d.keys()   >> list from keys 
# d.values() >> list from values
# d.items()  >> list from tuple (tuple("key", value))

In [123]:
data.get("k4")

In [125]:
data

{'k1': {'k2': [1, 2, 3, 4],
  'k3': [3,
   4,
   5,
   6,
   {'k4': ['amit', 'learning', 'MACHINE LEARNING', 'deep learning']}]}}

In [126]:
# # for loop , while loop 
# for i in seq :
#     statements.....
#     .......
#     ....

In [127]:
lst = [2,3,4,5,4,5,6,7,8]

In [130]:
for i in lst :
    print(i , end = " ")
    print("*" * i )

2 **
3 ***
4 ****
5 *****
4 ****
5 *****
6 ******
7 *******
8 ********

In [132]:
for i in "amit":
    print(i ,end = " " )

a m i t

In [137]:
print("amit" , end = " ")
print("learning")

amit learning

In [138]:
lst

[2, 3, 4, 5, 4, 5, 6, 7, 8]

In [139]:
lst * 2

[2, 3, 4, 5, 4, 5, 6, 7, 8, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [141]:
for i in lst:
    print(i * 2  , end = " ")

4 6 8 10 8 10 12 14 16

In [142]:
new_lst = []
for i in lst:
    new_lst.append(i * 2 )
print(new_lst)

[4, 6, 8, 10, 8, 10, 12, 14, 16]

In [146]:
new_d = {}
for i in lst:
    new_d[i] = i*2
print(new_d)

{2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16}

In [150]:
new_d = {}
for i in lst:
    new_d.update({i : i*2})
print(new_d)

{2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16}

In [151]:
d

{'name': 'Amit', 'age': 20, 'address': 123, 'n_students': 1000}

In [152]:
for i in d:
    print(i)

name
age
address
n_students

In [153]:
d.keys()

dict_keys(['name', 'age', 'address', 'n_students'])

In [154]:
for i in d.keys():
    print(i)

name
age
address
n_students

In [155]:
d.items()

dict_items([('name', 'Amit'), ('age', 20), ('address', 123), ('n_students', 1000)])

In [160]:
for i in d.items():
    print(i[0])

name
age
address
n_students

In [157]:
i = ("name" , "Amit")
i2 = ("age" , 20)

In [158]:
i[0]

'name'

In [159]:
i2[0]

'age'

In [164]:
for i in d.items():
    print(i[1])

Amit
20
123
1000

In [165]:
for i in d.values():
    print(i)

Amit
20
123
1000

In [168]:
for i in d :
    print(d[i])

Amit
20
123
1000

In [167]:
d["name"]

'Amit'

In [173]:
items = d.items()
items

dict_items([('name', 'Amit'), ('age', 20), ('address', 123), ('n_students', 1000)])

In [172]:
for i in items:
    for j in i : 
        print(j)

name
Amit
age
20
address
123
n_students
1000

In [174]:
lst

[2, 3, 4, 5, 4, 5, 6, 7, 8]

In [175]:
for i in lst:
    if i % 2 == 0 :
        print(f"{i} >> Even ")
    else:
        print(f"{i} >> Odd")

2 >> Even
3 >> Odd
4 >> Even
5 >> Odd
4 >> Even
5 >> Odd
6 >> Even
7 >> Odd
8 >> Even

In [178]:
[ i * 2  for i in lst]

[4, 6, 8, 10, 8, 10, 12, 14, 16]

In [179]:
new_lst = []
for i in lst:
    new_lst.append(i * 2 )
print(new_lst)

[4, 6, 8, 10, 8, 10, 12, 14, 16]

In [182]:
num = 11
"Even" if num % 2 == 0 else "Odd"

'Odd'

In [185]:
[ f"{i} >> Even" if i % 2 == 0 else  f"{i} >> Odd"  for i in lst ]

['2 >> Even',
 '3 >> Odd',
 '4 >> Even',
 '5 >> Odd',
 '4 >> Even',
 '5 >> Odd',
 '6 >> Even',
 '7 >> Odd',
 '8 >> Even']

In [186]:
[ i  for i in lst if i % 2 == 0 ]

[2, 4, 4, 6, 8]

In [187]:
[ i  for i in lst if i % 2 != 0 ]

[3, 5, 5, 7]

In [188]:
lst

[2, 3, 4, 5, 4, 5, 6, 7, 8]

In [189]:
# ["Even" , "Odd" , "Even"......]

In [190]:
["Even" if i % 2 == 0 else "Odd"  for i in lst ]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [191]:
# x = 0 
# while condition== True :
#     statements.....
#     ......
#     .......
#     .....
#     counter + = 1

In [192]:
x = 0 
while x <= 10 :
    print(x , "*" * x)
    x += 1

0
1 *
2 **
3 ***
4 ****
5 *****
6 ******
7 *******
8 ********
9 *********
10 **********

In [193]:
x

11

In [194]:
lst

[2, 3, 4, 5, 4, 5, 6, 7, 8]

In [198]:
len(lst)

9

In [202]:
i = 0 
while i < len(lst) :
    print(lst[i])
    i += 1

2
3
4
5
4
5
6
7
8

In [200]:
i

9

In [203]:
# while True :

In [204]:
# break 
# continue
# pass

In [206]:
lst = [1,2,3,4,5,6]
for i in lst :
    if i == 3 :
        break 
    else:
        print(i)

1
2

In [208]:
lst = [1,2,3,4,5,6]
for i in lst :
    if i == 3 :
        continue 
        print(i)
    else:
        print(i)

1
2
4
5
6

In [211]:
lst = [1,2,3,4,5,6]
for i in lst :
    if i == 3 :
        pass
        print(i)
    else:
        print(i)

1
2
3
4
5
6

In [213]:
if 10 == 10 :
    pass

In [216]:
if 10 == 10 :
#     pass
    print("10")

10

In [219]:
while True :
    option = int(input("Enter your option: "))
    if option == 0 :
        print("Good Job")
    elif option == 1 :
        print("Well Done!")
    else:
        print("Goodbye!")
        break

Enter your option: 1
Well Done!
Enter your option: 0
Good Job
Enter your option: 2
Goodbye!

In [4]:
while True :
    option = int(input("Enter your option: "))
    print("Good Job") if option == 0 else  print("Well Done") if option == 1 else print("good") 
    break

Enter your option: 1
Well Done

In [5]:
# expr1 if condition1 else expr2 if condition2 else expr3

In [6]:
# functions

In [7]:
# len(seq)
# type()
# print()
# input()
# sum()
# max()
# min()
# round( , )
# pow(,) 
# .....

In [11]:
# add(12,12) Error

In [12]:
# check(23) Error

In [13]:
# def function_name(args):
#     statements...
#     .......
#     return result

In [15]:
# call function 
# function_name(args)

In [33]:
def add(n1 , n2  , n3 ):
    s = n1 + n2 + n3
    return s

In [36]:
add(12,12,13)

37

In [24]:
add(12,12 , 34)

58

In [25]:
add(12,12,12)

36

In [37]:
def add_(*n):   # n (12,23,34 ,45)
    return sum(n)

In [42]:
add_(12,23,34,45,56)

170

In [53]:
def add(*n):
    s = 0
    for i in n :
        s += i   # s = s + i
    return  s

In [54]:
x = add(12,23,34,56,768)

In [55]:
x

893

In [56]:
lst = ["amit learning" , "machine learning" , "deep learning" , "pandas"]

In [57]:
def len_word(L):
    for word in L:
        print(f"{word} >> len >> {len(word)}")

In [58]:
len_word(lst)

amit learning >> len >> 13
machine learning >> len >> 16
deep learning >> len >> 13
pandas >> len >> 6

In [59]:
def max_len(L):
    max_l = 0
    w     = ""
    for word in L :
        if max_l <= len(word):
            max_l = len(word)
            w     = word
    return f"the word of the max len is {w} and len is {max_l}"

In [60]:
max_len(lst)

'the word of the max len is machine learning and len is 16'

In [63]:
def max_len(L):
    word  = ""
    max_l = 0
    for i in L:
        if len(i) >= max_l :
            max_l = len(i)
            word  = i 
    print("max word", word , "len" , max_l) 
lst = ["amit learning" , "machine learning" , "deep learning" , "pandas"]

In [64]:
max_len(lst)

max word machine learning len 16

In [65]:
# list(map(fun , seq))
def check(num):
    if num % 2 == 0 :
        return "Even"
    else:
        return "Odd"

In [66]:
check(12)

'Even'

In [67]:
check(13)

'Odd'

In [68]:
list(map(check , [1,2,3,4,3,4,5,6,7]))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [69]:
def even(num):
    if num % 2 == 0 :
        return True 
    else:
        return False 
    
list(filter(even , [1,2,3,4,3,4,5,6,7]))

[2, 4, 4, 6]

In [70]:
def odd(num):
    if num % 2 != 0 :
        return True 
    else:
        return False 
    
list(filter(odd , [1,2,3,4,3,4,5,6,7]))

[1, 3, 3, 5, 7]

In [71]:
function = lambda x  , y : x * y

In [72]:
function(10, 10 )

100

In [73]:
list(filter(lambda x : x % 2 == 0  , [1,2,3,4,3,4,5,6,7]))

[2, 4, 4, 6]

In [74]:
list(filter(lambda x : x % 2 != 0  , [1,2,3,4,3,4,5,6,7]))

[1, 3, 3, 5, 7]

In [77]:
hof = lambda x , function1 : x + function1(2)   # function1 = lambda i : i * i == 4 
hof(2 , lambda i : i * i )

6

In [79]:
# function1 = lambda i : i * i
# function1(2)

In [80]:
# scope 
# module 
# file handling 
# oop